body{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    background: linear-gradient(to right,#99b3fc,#a0c6ee,#6dabe4,#dbc1f8);
  }
  header{
   
    color:#eac490;
    font-size: xx-large;
    font-stretch: semi-expanded;
    text-shadow: 2px 2px 4px rgba(1, 0, 0, 0.7);
  }
  .phrase{
    font-size:larger;
  }
 
  .flavor-card {
    width: 350px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  section {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 20px;
    border-radius: 5px;
  }

